.App {
  background-color: #181818;
  box-sizing: border-box;
  height: 100%;
  padding: 80px 40px;
  color: white;
  position: relative;

  @media screen and (max-width: 780px) {
    padding: 80px 40px 0 40px;
  }
}
